@import "sass-pygments/styles/monokai";

.codehilite {
    @extend .syntax;
    @extend .box;

    pre {
    color: #f8f8f2; }
}
.box.error {
    a:hover{
        color: white;
        background-color: rgb(100,0,0);
    }
}
.box.error {
    a {
        color: rgb(100,0,0);
        text-decoration: underline;
    }
}
h2 {
    a{
        color:black;
    }
}
